
header{
    margin:0px;
    padding:0px;
}

html {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;    
}

body {
    background-color: steelblue;
    height: 100%;
    width: auto;
    max-height: 100vh;
    align-content: center;
    padding: 0;
    margin: 0;   
    overflow-y:scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width:none;
}

body::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.load_frame {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,1);
    color: grey;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;    
    /*    animation:fade-in 1s ease-in normal;*/
}

    .load_frame .txt {
        background-color: transparent;
        text-decoration-style:solid;
        text-emphasis-color:white;
        text-emphasis-style:double-circle;
        animation:fade-in 2s ease-in normal;
    }

.container{
    width:100vw;
    height:100%;
    background-color:red;
}

.Spanner {
    justify-content: center;
    align-content:center;
    text-align:center;    
}

.Spanner .btn_Butt {
    display: inline-block;
    border-radius: 50%;
    width:100px;
    height:100px;
    line-height:50px;    
}

.btn_Butt:hover{
    background-color:black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
