body{
/*    display:none;*/
    background-color:steelblue;
}


.btn {
    background-color: steelblue;
    display:flex;
    border:none;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    align-content: center;
    transform:translate(100%, 50%);
    animation: fade-in ease-in 2s;
}

@keyframes fade-in{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}